.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: rgba(195, 224, 229, 0.829);
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons i {
    color:white;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}