.aheader{
    min-height: 70vh;
}
.aheader,
.cta,
.sub-header {
    background-image: url('../imgs/bg.jpeg');
    background-position: center;
    background-size: cover;
}
.atext-box{
    font-size: 20px;
    text-align: center;
    padding-top: 200px;
}
.article {
    padding: 20px;
}

.article h2 {
    margin-top: 0;
}

.article .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article .images a {
    flex: 0 0 45%;
    margin-bottom: 20px;
    margin-right: 5%;
    position: relative;
    overflow: hidden;
}

.article img {
    width: 100%;
    height: auto;
    min-height: 200px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.article .description {
    background-color: rgba(194, 203, 235, 0.8);
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article .images a:hover .description {
    top: 0;
    opacity: 1;
}

.article .description p {
    margin: 0;
    font-style: italic;
}

.article p {
    margin: 0;
    font-style: italic;
}