*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding:0;
    box-sizing:border-box;
    font-size: 18px;
    margin-top: 5px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
  }
  
  nav img {
    width: 150px;
  }
  
  .nav-links {
    flex: 1;
    text-align: right;
    margin-left: 0px;
  }
  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding-right:60px;
    position: relative;
  }
  
  .nav-links ul li a {
    color: #1E293B;
    text-decoration: none;
  }
  
  .nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background:  #89c2ff;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .nav-links ul li:hover::after {
    width: 100%;
  }
  
  
  nav .fa {
    display: none;
  }
  
  @media (max-width: 700px) {
    .nav-links {
        position: fixed;
        background:  #a6cdf6;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
  
    .nav-links ul {
        padding: 30px;
    }
  
    .nav-links ul li {
        display: block;
        padding: 20px 0;
    }
  
    .nav-links ul li a {
        color:  #2761a3;
        text-decoration: none;
        font-size: 15px;
    }
  
    .nav-links ul li::after {
        display: none;
    }
  
    nav .fa {
        display: block;
        color: #181817;
        font-size: 22px;
        cursor: pointer;
    }
  }
  